{% extends "base.html" %}
{% load static %}

{% block 'head' %}

{% endblock %}

{% block 'title' %}LOGIN: Identifique-se{% endblock %}

{% block 'body' %}
    <div class="divTemplateTitulo" role="title" tabindex="0" aria-label="Tela para Login"><h1 tabindex="-1" ><i class="fa fa-user"></i> LOGIN: Identifique-se</h1></div>
    <div class="divTemplateConteudo">
      <form action = "{% url 'identifica_jogador' %}" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class='btn btn-success' value="Entrar">
      </form>    
    </div>    
  
{% endblock %}
