{% extends "base.html" %}
{% load static %}

{% block 'head' %}

{% endblock %}

{% block 'title' %}Sobre Nós{% endblock %}



{% block 'body' %}

    <article role="contentinfo">
        <div class="divTemplateTitulo"><h1 tabindex="-1" id="SobreNos"><i class="fa fa-graduation-cap"></i> Sobre Nós</h1></div>
        <div class="divTemplateConteudo">
            <div class="divTexto" role="contentinfo" tabindex="0">
                <p role="paragraph" aria-label="Descrição da Empresa">
                    O GRUPO P I Dois é um conglomerado de mentes estudantis ávidas por conhecimento, sucesso, bem estar, alegria e partilha para multiplicação de tudo o que for produzido de bom.
                </p>
                <p role="paragraph">
                    Alegria é coisa séria e tanto desafios quanto aprendizado podem ser alegres.
                </p>
                <p role="paragraph">
                    Inicialmente nosso objetivo principal é alimentar a ideia de modernizar/democratizar o acesso à lingua Tupi  - e outras linguas ancestrais - de modo a impedir que o idioma e a cultura sejam extintos.
                </p>
                <p role="paragraph">
                    O primeiro passo será a criação de um jogo para partilhar, alegrar, ensinar e multiplicar os bons resultados de uma cultura que, infelizmente, pode ser extinta.
                </p>
                <p role="paragraph">
                    Então ....
                </p>
                <p role="paragraph">
                    <b>Vamos Estudar e Jogar para revitalizar !</b>
                </p>
            </div>
        </div>
    </article>

{% endblock%}